.main__about-pic {
  width: 400px;
}

.main__about-pic-shadow {
  filter: drop-shadow(20px 10px 8px #5c4b51);
}

.main__content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0px;
}

h1 {
  font-size: 2.5em;
}

@media screen and (max-width: 600px) {
  .main__about-pic-block {
    display: none;
  }
}
