a {
  text-transform: capitalize;
  text-decoration: none;
}

.header {
  display: flex;
  background-color: #bbbdf2;
  font-weight: bold;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header__navigation {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;

  margin: 20px 0px;
}

.footer {
  display: flex;
  background-color: #bbbdf2;
  font-weight: bold;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer__navigation {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;

  margin: 20px 0px;
}

html {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: normal;
  margin: 5%;
}
