@font-face {
  font-family: "JetBrains Mono";
  src: url("../assets/JetBrainsMono-Regular.ttf");
}

a {
  text-transform: capitalize;
  text-decoration: none;
}

html,
body {
  height: 100%;
  width: 100%;

  margin: 0;
}

html {
  font-family: "JetBrains Mono";
  font-size: 14px;
  line-height: normal;

  overflow: hidden;
}

body {
  display: flex;
  flex: 1;
  flex-direction: column;

  overflow-y: auto;
}

.header {
  background-color: #bbbdf2;
  font-weight: bold;

  box-sizing: border-box;
  padding: 20px 0px;
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;

  justify-content: center;

  margin: 0 5%;
}

.footer {
  background-color: #bbbdf2;
  font-weight: bold;

  padding: 20px 0px;

  width: 100%;
}

.footer__navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer__timer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin-top: 3px;
}

.nav__item-onmouseover {
  transition: color 0.5s ease;
}

.nav__item-onmouseover:hover {
  color: white;
}
