.main {
  margin-top: 5%;
  justify-content: flex-start;
}

.main__schedule {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  gap: 10px;

  margin-bottom: 15px;
}

.main__form {
  display: flex;
  flex-direction: column;

  align-items: center;

  margin-bottom: 5%;
}

.main__schedule-elem {
  display: flex;

  padding: 5px;
  border-style: solid;
  border-radius: 10px;

  justify-content: center;
}

.main__form-elem {
  margin: 3px 0;
}
